body {
	background:#000000;
	color:#660066;
}
h1 {
	color:#666666;
	white:50%;
	background:#999999;
	margin:50px 50px;
	border:20px double black;
}
h1 {
	font-size:80px;
	
}
h2{
	color:#000000;
	font-family:Geneva;
	font-size:40px;
}
body{
	background:url(../denice/luna.jpg);
}
form{
	margin:0 auto;
	width:360px;
	padding:23px;
	background-color:white;
	color:#333333;
	font-size:20px;
	border: ridge 14px #000000;
}
.form-control{
	border: solid 4px #CCCCCC;
	font-size:20px;
	padding: 10px;
}
.form-control:focus{
	border-color:#00CCCC;
}
input,texttarea{
	width:320px;
}
button{
	width:350px;
	font-size:20px;
}

