<!DOCTYPE html>
	<html>
		<head>
<title>Tienda solo para hombres</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css"/>
</head>
	<body>
	<h1>Ropa para Hombres</h1>
	<ul>
		<li><a href=""><img src="poli.png" width="10%" height="7%"</a></li>
		<li><a href="paginas/contacto.html"><img src="boton.png" width="10%" height="7%"</a></a<li>
		</ul>
	<p>Descubre las ultimas tendencias de moda en Linea.
		</p>
	
	
	<img src="denice/sol.jpg" width="700" height="700"/>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/11jRiE0D_HQ" 
	frameborder="0" allow="autoplay;
	encrypted-media" allowfullscreen></iframe>
	
	<hr/>
	<table align="center">
		<thead>
		
			<tr>
			<th>Talla de ropa</th><th>Altura(cm)</th><th>Pecho(cm)</th><th>Cintura(cm)</th><th>Cadera(cm)</th>
			</tr>
		</thead>
		<tr>
			<td>XS 38/40</td><td>165/169</td><td>82/89</td><td>66/71</td><td>85/90</td>
			</tr>
		<tr>
			<td>S 42/44</td><td>170/174</td><td>90/97</td><td>73/79</td><td>91/96</td>
			</tr>
		<tr>
			<td>M 46/48</td><td>175/179</td><td>98/105</td><td>80/85</td><td>97/102</td>
			</tr>
		<tr>
			<td>L 50/52</td><td>180/189</td><td>114/121</td><td>86/93</td><td>103/108</td>
			</tr>
		</table>
		<a href="https://www.facebook.com/"><img src="adios.png" width="10%" height="7%"</a>
		<a href="https://www.instagram.com/"><img src="hola.png" width="10%" height="7%"</a>
	</body>
</html>
